Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
scipy==1.4.1
scikit-learn==0.21.2
seaborn==0.9.0
matplotlib==3.1.0
pandas==0.24.2
flasgger==0.9.4
streamlit==0.69.2
Pillow==8.0.1
cloudpickle==1.2.1
pickleshare==0.7.5
plotly==4.5.4
cufflinks==0.17.3